<h1>Password strength checker</h1>
<div class="wrapper">
  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      placeholder="Type your password"
      (input)="checkPasswordStrength()"
      [(ngModel)]="password"
    />
  </div>

  <div class="password-strength">
    <div
      class="strength-section"
      [ngClass]="{
        gray: password.length === 0,
        red:
          (password.length < 8 && password.length > 0) ||
          passwordStrength === 'easy',
        yellow: passwordStrength === 'medium',
        green: passwordStrength === 'strong'
      }"
    ></div>
    <div
      class="strength-section"
      [ngClass]="{
        gray:
          password.length === 0 ||
          passwordStrength === 'strong' ||
          passwordStrength === 'easy',
        red: password.length < 8 && password.length > 0,
        yellow: passwordStrength === 'medium',
        green: passwordStrength === 'strong'
      }"
    ></div>
    <div
      class="strength-section"
      [ngClass]="{
        gray:
          password.length === 0 ||
          passwordStrength === 'strong' ||
          passwordStrength === 'easy' ||
          passwordStrength === 'medium',
        red: password.length < 8 && password.length > 0,
        green: passwordStrength === 'strong'
      }"
    ></div>
  </div>
  <span *ngIf="password.length > 0" class="strength-string">{{
    passwordStrengthString
  }}</span>
</div>
