<form>
  <h1>Password strength checker</h1>
  <div class="wrapper">
    <div>
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        placeholder="Type your password"
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="onPasswordChange()"
      />
    </div>

    <div class="password-strength">
      <div class="strength-section" [ngClass]="firstBlockClass"></div>
      <div class="strength-section" [ngClass]="secondBlockClass"></div>
      <div class="strength-section" [ngClass]="thirdBlockClass"></div>
    </div>
    <span *ngIf="password.length > 0" class="strength-string">{{
      passwordStrengthString
    }}</span>
  </div>
</form>
