h1 {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0 auto;
  padding: 16px;
  border: 1px solid #c8c8c8;
  border-radius: 8px;
  gap: 8px;
}

.password-strength {
  display: flex;
  align-self: end;
  width: 192px;
}

.strength-string {
  font-size: 12px;
  text-align: right;
}

.strength-section {
  width: 64px;
  height: 12px;
}

.gray {
  background-color: #c8c8c8;
}

.red {
  background-color: #ff3e00;
}

.yellow {
  background-color: #ffe000;
}

.green {
  background-color: #00af48;
}

label {
  margin-right: 16px;
}

#password {
  width: 180px;
  height: 24px;
  border: 1px solid #c8c8c8;
  background-color: #fafafa;
  padding: 0 5px;
  &:focus-visible {
    outline: none;
  }
}
